################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NyeinChanAung-Dev.github.io/config/applicationhost.config
/.vs/slnx.sqlite
/.vs/NyeinChanAung-Dev.github.io/v16/.suo
